version: "3.9"

services:
  fastapi:
    container_name: fastapi_app
    image: python:3.11
    working_dir: /app
    volumes:
      - ./app:/app
    command: bash -c "pip install --no-cache-dir -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    ports:
      - "8010:8000"
    restart: always
